<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="pattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] [%logger{36}] --- %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Пользовательские логгеры. Можно привязывать к определенным пакетам -->
    <logger name="com.foxandr.telegrambot" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Корневой логгер. Обрабатывает все уровни вложенности библиотек, где прописаны логгеры -->
    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>